.body{
    margin: 0;
    font-family: Verdana, sans-serif;
}

.sp-menu #open.hide{
    display: none;
}

.main{
    padding: 0px 15px;
}

.header-inner{
display: flex;
justify-content: flex-end;
/* color: aqua; */
}

.sp-menu{
/* margin-left: auto; */
cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255,255,255,0.95);
    text-align: center;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.overlay.show{
    opacity: 1;
    pointer-events: auto;
}

.overlay #close{
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
}

.overlay ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.overlay li{
    margin-top: 24px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s , transform .3s;
}

.overlay.show li{
    opacity: 1;
    transform: none;
}

.overlay.show li:nth-child(1){
    transition-delay: .1s ;
}

.overlay.show li:nth-child(2){
    transition-delay: .2s ;
}

.overlay.show li:nth-child(3){
    transition-delay: .3s ;
}

.pc-menu {
    display: none;
}

@media(min-width: 600px) {
    .pc-menu {display: block;}
    /* margin-left: auto; */

    .pc-menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .pc-menu a {
        display: block;
        width: 80px;
        line-height: 64px;
        text-align: center;
    }

    .pc-menu a:hover {
        background-color: #f2f2f2;
    }

    .sp-menu{
        display: none;
    }
}

